---
name: Generate Terraform Docs
on:
  push:
    branches:
      - main

permissions:
  contents: write

jobs:
  docs:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Set up Go
        uses: actions/setup-go@v6
        with:
          go-version: '1.22'

      - name: Generate docs
        run: go run github.com/hashicorp/terraform-plugin-docs/cmd/tfplugindocs generate

      - name: Commit and push changes
        uses: stefanzweifel/git-auto-commit-action@v5
        with:
          commit_message: "docs: update automated documentation"
          file_pattern: 'docs/'
